a conteneur {
    display: flex;
    align-items: center;
    height: 600px;
  }
  
  a img {
    width: 200px;
  }


 a img  {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }